<?xml version="1.0"?>
<!--
calibration_compute.launch: ROS launch file to compute absolute orientation calibration
Requirements: No requirements needed
Author: Nishanth Koganti, Ravi Joshi
Date: 2016/6/16
-->
<launch>
  <arg name="manual" default="false"/>
  <arg name="file" default=""/>
  <arg name="save_dir" default="$(find multiple_kinect_baxter_calibration)/files/"/>

  <!-- define the directory of baxter_trajectory and kinect_trajectory file -->
  <arg name="data_dir" default="$(find multiple_kinect_baxter_calibration)/files/"/>
  <arg name="kinect" default="" doc="kinect:=kinect1"/>

  <!-- set 'ar' to true for ar marker based calibration -->
  <arg name="ar" default="false"/>

  <!-- calibration using calibration_compute.py-->
  <node pkg="multiple_kinect_baxter_calibration" type="calibration_compute.py" name="calibration_compute" output="screen">
    <param name="data_dir" value="$(arg data_dir)"/>
    <param name="kinect" value="$(arg kinect)"/>
    <param name="ar" value="$(arg ar)"/>
    <param name="manual" value="$(arg manual)"/>
    <param name="file" value="$(arg file)"/>
    <param name="save_dir" value="$(arg save_dir)"/>
  </node>
</launch>
