<?xml version="1.0"?>
<!--
calibration_publisher.launch: ROS launch file to publish calibration matrix between Kinect and Baxter
Note: Keep running this file in a separate tab forever
Requirements: No requirements needed
Author: Nishanth Koganti, Ravi Joshi
Date: 2016/6/15
-->
<launch>
  <!-- define args -->
  <arg name="data_dir" default="$(find multiple_kinect_baxter_calibration)/files/"/>
  <arg name="calibration" doc="calibration:='[kinect1, kinect2, kinect3]'" default="[kinect1, kinect2, kinect3]"/>
  <!-- publish calibration so that tf can use it -->
  <node pkg="multiple_kinect_baxter_calibration" type="calibration_publisher.py" name="calibration_publisher" output="screen">
    <param name="data_dir" value="$(arg data_dir)"/>
    <param name="calibration" value="$(arg calibration)"/>
  </node>
</launch>
